$airbean-brown:#2F2926;
$airbean-green:#0E927D;
$airbean-pink:#F3E4E1;
$airbean-orange:#E5674E;
$airbean-white: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
// Base
#app{
    font-family: PT Serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// Classes
.is-fullsize {
    min-height: 100vh;
}
.bg-brown {
    background-color: $airbean-brown;
}
.bg-green {
    background-color: $airbean-green;
}
.bg-pink {
    background-color: $airbean-pink;
}
.bg-orange {
    background-color: $airbean-orange;
}

.modal {
    background: #000000ab;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: all 1250ms ease-in-out;
    opacity: 0;
  }
  .modal.open {
    visibility: visible;
    opacity: 1;
    }
  .round-button {
      width: 60px;
      height: 60px;
      background-color: $airbean-brown;
      color: $airbean-white;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
      border-radius: 50%;
      background-image: url("~@/assets/bag.svg");
      background-repeat:no-repeat;
      background-position: center;
      user-select: none;
  }
  .red-round-circle {
    width: 22px;
    height: 22px;
    background-color: $airbean-orange;
    color: $airbean-white;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
    border-radius: 50%
  }
  .hamburger-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 0;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.02);
    color: black;
    background-color: $airbean-white;
  }
  .absolute {
      position: absolute;
  }
  .relative {
      position: relative;
  }
  .top-right {
      top: 0;
      right: 0;
  }
  .center-text {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  .navigation {
      
  }
  .navigation .small {
      display: flex;
      justify-content: space-between;
      background-image: url("~@/assets/graphics-header.svg");
      padding: 16px;
  }
  .navigation .large {
    color: black;
  }